# Programming Assignment 5
## Jackson Gawarecki
### Version: 1
#### CS150 Fall 2021

# A

In [39]:
Translator={'one':'uno','two':'dos','three':'tres','four':'cuatro','five':'cinco',
            'six':'seis','seven':'siete','eight':'ocho','nine':'nueve','ten':'diez',
            'eleven':'once','twelve':'doce','thirteen':'trece','fourtneen':'catorce','fifteen':'quince',
            'sixteen':'dieciseis','seventeen':'diecisiete','eighteen':'dieciocho','nineteen':'diecinueve','twenty':'veinte'
    }
word=input("Give an english word one-twenty for a Spanish translation (Enter 0 to stop): ")
while True:
        if word=='0':
            break
        else:
            print(Translator[word])
            word=input("Give an english word one-twenty for a Spanish translation (Enter 0 to stop): ")

Give an english word one-twenty for a Spanish translation (Enter 0 to stop): one
uno
Give an english word one-twenty for a Spanish translation (Enter 0 to stop): two
dos
Give an english word one-twenty for a Spanish translation (Enter 0 to stop): three
tres
Give an english word one-twenty for a Spanish translation (Enter 0 to stop): 0

# B

In [36]:
SepTemp={1:85,2:83,3:84,4:84,5:82,6:87,7:86,8:85,9:81,10:82,11:84,12:87,13:89,
        14:90,15:84,16:85,17:89,18:89,19:86,20:78,21:78,22:70,23:71,24:75,25:77,
         26:77,27:85,28:87,29:91,30:86}
x=list(SepTemp.values())
y=list(SepTemp.keys())
import numpy as np
feh=np.array(x)
cel=(5*feh/9-32)
SepTemp=dict(zip(y,cel))

coolest=min(SepTemp.values())
for key in SepTemp:
    if SepTemp[key]==coolest:
        print("The coolest day was on September ", key)
max2= (list(sorted(SepTemp.values()))[-2])
for key in SepTemp:
    if SepTemp[key]==max2:
        print("The second hottest day was on September ", key)
SepTemp

The coolest day was on September  22
The second hottest day was on September  14

{1: 15.222222222222221,
 2: 14.111111111111114,
 3: 14.666666666666664,
 4: 14.666666666666664,
 5: 13.555555555555557,
 6: 16.333333333333336,
 7: 15.777777777777779,
 8: 15.222222222222221,
 9: 13.0,
 10: 13.555555555555557,
 11: 14.666666666666664,
 12: 16.333333333333336,
 13: 17.444444444444443,
 14: 18.0,
 15: 14.666666666666664,
 16: 15.222222222222221,
 17: 17.444444444444443,
 18: 17.444444444444443,
 19: 15.777777777777779,
 20: 11.333333333333336,
 21: 11.333333333333336,
 22: 6.888888888888886,
 23: 7.444444444444443,
 24: 9.666666666666664,
 25: 10.777777777777779,
 26: 10.777777777777779,
 27: 15.222222222222221,
 28: 16.333333333333336,
 29: 18.555555555555557,
 30: 15.777777777777779}

# C

# symmetric difference (^)
## elements of both sets that are not in common with each other will be shown

In [25]:
set1={33,22,77,44}
set2={33,55,21,43,22,77,44}
set1^set2

{21, 43, 55}

# .isdisjoint()
## returns True if no items in Set A is present in Set B

In [26]:
set1={33,22,77,44}
set2={33,55,21,43,22,77,44}
set1.isdisjoint(set2)

False

In [27]:
set2.isdisjoint(set1)

False

# intersection_update(&=)
## method removes the items that is not present in both sets

In [29]:
set1a={33,22,77,44}
set2a={33,55,21,43,22,77,44}
set1a&=set2a
print(set1a)

{33, 44, 77, 22}

# symmetric_difference (^=)
## method returns a set that contains all items from both set, but not the items that are present in both sets

In [31]:
set1b={33,22,77,44}
set2b={33,55,21,43,22,77,44}
set1b^=set2b
print(set1b)

{43, 21, 55}

# remove(), discard(), pop()
## remove an item from a set (discard generates no error)
### pop removes the last element

In [32]:
set1={33,22,77,44}
set2={33,55,21,43,22,77,44}
set1.remove(33)
set1

{22, 44, 77}

In [34]:
set1.discard(44)
set1

{22, 77}

In [35]:
set2.pop()
set2

{21, 22, 43, 44, 55, 77}